{% extends 'base.html' %}

{% block content %}
<h1>Wikipedia</h1>
<p>Search and get shorthand definitions</p>

{% if search_name %}
<h3>Result:</h3>
<p>
    <b>{{ search_name }}:</b><br /><br />
    {{ search_content | safe }}
</p>
<p>Did not get what you want? Try and search something else or rephrase your search</p>
{% endif %}

<form action="/wikipedia/" method="post">
    {% csrf_token %}
    Search name: <input type="text" name="search" placeholder="Search" required ><br />
    <input type="submit" class="button primary small" value="Search">
</form>
{% endblock %}