<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Healthyness</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
		<link rel="icon" href="{% static 'images/healthyness-logo.png' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Healthyness</strong></a>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Healthyness</h1>
											<p>Keep yourself healthy using our features</p>
                                        </header>
                                        <p></p>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
									</header>
									<div class="posts">
										<article>
											<a href="{% url 'covid_tracker' %}" class="image"><img src="{% static 'images/coronavirus.jpeg' %}" alt="" /></a>
											<h3>COVID Tracker</h3>
											<p>Track the number of COVID-19 cases around the world</p>
											<ul class="actions">
												<li><a href="{% url 'covid_tracker' %}" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="{% url 'sugar' %}" class="image"><img src="{% static 'images/sugar-cubes.jpg' %}" alt="" /></a>
											<h3>Sugar Calculator</h3>
											<p>Enter the number of required items and get the amount of intake of sugar</p>
											<ul class="actions">
												<li><a href="{% url 'sugar' %}" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="{% url 'yoga' %}" class="image"><img src="{% static 'images/yoga/mountain_pose.jpg' %}" alt="" /></a>
											<h3>Yoga</h3>
											<p>Keep yourself fit in your home with doing yoga</p>
											<ul class="actions">
												<li><a href="{% url 'yoga' %}" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="{% url 'inner_mind' %}" class="image"><img src="{% static 'images/inner_mind.jpeg' %}" alt="" /></a>
											<h3>Inner Mind</h3>
											<p>Rest your mind for 15 minutes straight</p>
											<ul class="actions">
												<li><a href="{% url 'inner_mind' %}" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<nav id="menu">
								<header class="major">
									<h2>User</h2>
								</header>
								<ul>
									{% if not user.is_authenticated %}
									<li>
										<span class="opener">User</span>
										<ul>
											<li><a href="{% url 'register' %}">Register</a></li>
											<li><a href="{% url 'login' %}">Login</a></li>
											<li><a href="{% url 'verify_email' %}">Forgot Password</a></li>
										</ul>
									</li>
									{% else %}
									<li>
										<span class="opener">Hi, {{ user.first_name }}</span>
										<ul>
											<li><a href="{% url 'logout' %}">Logout</a></li>
											<li><a href="{% url 'verify_email' %}">Change Password</a></li>
											{% if user.is_superuser %}
											<li><a href="/healthyness" target="_blank">Admin Panel</a></li>
											{% endif %}
										</ul>
									</li>
									{% endif %}
								</ul>
								<br /><br />
								<header class="major">
									<h2>Sections</h2>
								</header>
								<ul>
									<li><a href="{% url 'covid_tracker' %}">COVID Tracker</a></li>
									<li><a href="{% url 'sugar' %}">Sugar Calculator</a></li>
									<li><a href="{% url 'yoga' %}">Yoga</a></li>
									<li><a href="{% url 'inner_mind' %}">Inner Mind</a></li>
								</ul>
							</nav>

							<!-- Get in touch -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>Mail me if you want something more.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="mailto:aryan.rajalbandi@gmail.com">aryan.rajalbandi@gmail.com</a></li>
									</ul>
								</section>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>